<%- include('partials/header.ejs'); %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h1>Welcome to <%= title %></h1>

  <form action="/results" method="get">
    <div class="form-group">
        <label for="search">Search Movie Title...</label>
        <input type="text" name="search" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">View Search Results</button>
  </form>

  </div>
</div>

<% if(data) { %>

<div class="row">
    <% if(!data.Response || data.Response === "False"){ %>
        <% action="/"; %>
        <% } %>
   <!-- console.log(data["Response"]); -->
    <% data["Search"].forEach(function(movie) { %>
    <% if(movie["Type"] === "movie"){ %>
        <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <% if(movie["Poster"] === "N/A"){ %>
            <img class="poster" src="http://daddyforever.com/postimages/2016/Kubo-monkey.jpg">
            <% } else { %>
            <img class="poster" src="<%=movie["Poster"] %>">
            <% }; %>
            <div class="caption">
                <div class="resultsMovieInfo">
                    <h5><%= movie["Title"] %></h5>
                     <p><%= movie["Year"] %></p>
                </div>
            <% var imdb = movie["imdbID"] %>
            <% var title = movie["Title"] %>
            <% var poster = movie["Poster"] %>
            </div>
        <button class="btn btn-primary">Add Movie</button>
        </div>
        </div>
    <% }; %>
  <% }); %>  
</div>
<% } else { %>
<p>Howdy</p>
<% }; %>


<%- include('partials/footer.ejs'); %>