<%- include('partials/header.ejs'); %>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Welcome to <%= title %></h1>

  <form action="/results" method="get">
    <div class="form-group">
        <label for="search">Search Movie Title...</label>
        <input type="text" name="search" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">View Search Results</button>
  </form>

  </div>
</div>

<% if(data) { %>

<div class="row">
    <% if(!data.Response || data.Response === "False"){ %>
        <% action="/"; %>
        <% } %>
    <% data["Search"].forEach(function(movie) { %>
    <% if(movie["Type"] === "movie"){ %>
        <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <% if(movie["Poster"] === "N/A"){ %>
            <img class="poster" src="http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg">
            <% } else { %>
            <img class="poster" src="<%=movie["Poster"] %>">
            <% }; %>
            <div class="caption">
                <div class="resultsMovieInfo">
                    <h5><%= movie["Title"] %></h5>
                     <p><%= movie["Year"] %></p>
                     <p><%= movie["imdbID"] %></p>
                </div>
            <% var movieId = movie["imdbID"] %>
            <% var title = movie["Title"] %>
            <% var poster = movie["Poster"] %>
            <% var year = movie["Year"] %>
            </div>
            
        <a href="/add-to-moviepool/<%=movieId%>" class="btn btn-primary" role="button">Add Movie</a>
        </div>
        </div>
    <% }; %>
  <% }); %>  
</div>
<% } else { %>
<p></p>
<% }; %>
</div>

<%- include('partials/footer.ejs'); %>