<%- include('partials/header.ejs'); %>

<div class="container mainContainer">
<div class="row searchBar">
  <div>
  <h1 class="mainTitle">Welcome to Flick Pick</h1>

  <form action="/results" method="get">
  <div class="form-group">
  <div class="input-group">
      
      <input type="text" name="search" class="form-control" maxlength="60" placeholder="Search Movie Title...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>

    </div> <!-- input-group -->
  </div>
  </form>

  </div>
</div>

<% if(data) { %>
<div class="row searchResults">
<h3 class="mainMoviePoolLink"><a href="/movie-pool/"><em>Go to Movie Pool</em></a></h3>
    <% if(!data.total_results || data.total_results <= 0){ %>
        <% action="/"; %>
        <% } %>
    <% data.results.forEach(function(movie) { %> 

        <% if(movie.poster_path == null){ %>
          <% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
        <%  } else {  %>
          <% var poster = "https://image.tmdb.org/t/p/w300/" + movie.poster_path %>
        <% }; %>
          <% var movieId = movie.id %>

  <div class="col-sm-6 col-md-3">

        <% if(session.pool.items !== undefined && session.pool.items[movieId] !== undefined){ %>
          <div class="thumbnail inPoolBackground">
        <% } else { %>
          <div class="thumbnail">
        <% }; %>  

        <img class="poster" src="<%= poster %>" alt="Movie Poster">
            <div class="caption">
              <div class="resultsMovieInfo">

          <% if(movie.title.length > 106) { %>
            <%  var title = movie.title.substr(0, 103) + '...'; %>
          <% } else { %>
            <%  var title = movie.title; %>
          <% }; %>

          <h5 class="searchResultsTitle"><%= title %> <span class="yearStyle">(<%= movie.release_date.substr(0, 4) %>)</span></h5>
              </div>
            </div>

        <div class="btn-group-vertical searchResultsButtons" role="group" aria-label="Buttons">
          <% if(session.pool.items !== undefined && session.pool.items[movieId]){ %>
            <a href="/remove/<%=movieId%>" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove from Pool</a>
          <% } else { %>
            <a href="/add-to-moviepool/<%=movieId%>" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add To Movie Pool</a>
          <% }; %>

        </div>
      </div>
      </div>
  
  <% }); %>  <!-- data forEach -->
  </div> <!-- col-sm-6 col-md-3 -->
  <% } else { %>
    <h3 class="homePageBlankMessage">Use the search to find movies, add them to the <a href="/movie-pool/">Movie Pool</a>, and get detailed information to help pick what movie to watch!</h3>
  <% }; %>
</div> <!-- div row searchResults -->
</div> <!-- main div container -->

<%- include('partials/footer.ejs'); %>