<%- include('partials/header.ejs'); %>

<div class="container">
<div class="row searchBar">
  <div>
  <h1>Welcome to <%= title %></h1>

  <form action="/results" method="get">
  <div class="form-group">
  <div class="input-group">
      <input type="text" name="search" class="form-control" maxlength="60" placeholder="Search Movie Title...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->
  </div>
  </form>

  </div>
</div>

<% if(data) { %>
<div class="row searchResults">
    <% if(!data.Response || data.Response === "False"){ %>
        <% action="/"; %>
        <% } %>
    <% data.Search.forEach(function(movie) { %>
    <% if(movie.Type === "movie"){ %>
        <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
        <% if(movie.Poster == 'N/A'){ %>
        <% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
        <%  } else {  %>
        <% var poster = movie.Poster %>
        <% }; %>
        <% var movieId = movie.imdbID %>
        <img class="posterSearch" src="<%= poster %>" alt="Movie Poster">
            <div class="caption">
              <div class="resultsMovieInfo">

          <% if(movie.Title.length > 106) { %>
          <%  var title = movie.Title.substr(0, 103) + '...'; %>
          <% } else { %>
          <%  var title = movie.Title; %>
          <% }; %>

          <h5><%= title %> <span class="searchResultsMovieYear">(<%= movie.Year %>)</span></h5>
              </div>
            </div>

        <div class="btn-group-vertical searchResultsButtons" role="group" aria-label="Buttons">      
          <a href="/add-to-moviepool/<%=movieId%>" class="btn btn-primary" role="button">+ Add To Movie Pool</a>
          <a href="http://www.imdb.com/title/<%=movieId%>" class="btn btn-warning" role="button" target="_blank">View IMDB</a>
        </div>

        </div>
        </div>
    <% }; %>
  <% }); %>  
</div>
<% } else { %>
<p></p>
<% }; %>
</div>

<%- include('partials/footer.ejs'); %>