<%- include('partials/header.ejs'); %>

<div class="container mainContainer">
<% if(movies.length > 0) { %>
<div class="row">
	<div class="page-header">
		<h3>Movie Pool</h3>
	</div>

  <% movies.forEach(function(movie) { %>
  <% var movieMin = movie.movieDetails[0].detailBody %>

	<% if(movieMin.poster_path == null){ %>
		<% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
	<% 	} else {  %>
		<% var poster = "https://image.tmdb.org/t/p/w300/" + movieMin.poster_path %>
	<% }; %>

  <div class="container-fluid col-md-6 moviePoolContainers">

  <div class="hidden-lg hidden-md hidden-sm visible-xs">	
    <h5><strong><%= movieMin.title %></strong> <span class="yearStyle">(<%= movieMin.release_date.substr(0, 4) %>)</span></h5>
  </div>

  	<div class="thumbnail col-sm-6 col-xs-12 visible-lg visible-md visible-sm hidden-xs"> <!-- thumbnail hidden xs -->
  	<img class="poster" src="<%= poster %>" alt="Movie Poster">

    	<% if(movieMin.imdb_id) { %> 
    	 <h6 class="movieRating"><strong>MovieDB Pulse:</strong> <%= movieMin.popularity.toFixed(2) %><a href="http://www.imdb.com/title/<%= movieMin.imdb_id %>/" class="btn btn-default" role="button" target="_blank" style="float: right;">View IMDB</a></h6>
    	<% } else { %>
       <h6 class="movieRating"><strong>MovieDB Pulse:</strong> <%= movieMin.popularity.toFixed(2) %><a href="http://www.imdb.com/find?q=<%= movieMin.title %>" class="btn btn-default" role="button" target="_blank" style="float: right;">View IMDB</a></h6>
      <% } %>

	    <div class="btn-group-vertical searchResultsPoolButtons" role="group" aria-label="Buttons">      
        <a href="/remove/<%=movie.movieDetails[0].id%>" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove</a>
        <a href="/watch-later/<%=movie.movieDetails[0].id%>" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Add to Watch Later</a>
      </div>

  	</div> <!-- thumbnail hidden xs -->

   <div class="thumbnail col-sm-6 hidden-lg hidden-md hidden-sm visible-xs"> <!-- thumbnail visible xs -->
   <img class="posterSmall" src="<%= poster %>" alt="Movie Poster">

      <% if(movieMin.imdb_id) { %> 
        <h6 class="movieRating"><strong>MovieDB Pulse:</strong> <%= movieMin.popularity.toFixed(2) %><a href="http://www.imdb.com/title/<%= movieMin.imdb_id %>/" class="btn btn-default" role="button" target="_blank" style="float: right;">View IMDB</a></h6>
      <% } else { %>
        <h6 class="movieRating"><strong>MovieDB Pulse:</strong> <%= movieMin.popularity.toFixed(2) %><a href="http://www.imdb.com/find?q=<%= movieMin.title %>" class="btn btn-default" role="button" target="_blank" style="float: right;">View IMDB</a></h6>
      <% } %>

      <div class="btn-group-vertical searchResultsButtonsMin" role="group" aria-label="Buttons">      
        <a href="/remove/<%=movie.movieDetails[0].id%>" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove</a>
        <a href="/watch-later/<%=movie.movieDetails[0].id%>" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Add to Watch Later</a>
      </div>

  </div> <!-- thumbnail visible xs -->

  <div class="col-sm-6 col-xs-12">
  <div class="searchMovieInfo">
   <div class="visible-lg visible-md visible-sm hidden-xs">
   <h5><strong><%= movieMin.title %></strong> <span class="yearStyle">(<%= movieMin.release_date.substr(0, 4) %>)</span></h5>
   </div>

   <% if(movieMin.genres[0] != undefined){ %>
    <h6><%= movieMin.genres[0].name %></h6>
   <% } else {%>
    <h6>See IMDB</h6>
   <% } %>

   <% if(movieMin.runtime !== null && movieMin.runtime > 0){%>
	   <h6>Runtime: <%= movieMin.runtime %> min </h6>
   <% } else { %>
    <h6>Runtime: Not Listed </h6>
   <% } %>  
	</div>

	<hr>

	<div>
    <% if(movieMin.overview !== null && movieMin.overview.length > 286) { %>
      <%  var plotText = movieMin.overview.substr(0, 283) + '...'; %>
    <% } else { %>
      <%  var plotText = movieMin.overview; %>
    <% }; %>

		<p><%= plotText %> </p>

    <% if(movieMin.overview === null || movieMin.imdb_id === null || movieMin.imdb_id === undefined || movieMin.imdb_id.length < 1) { %>
      <p>Details may not be available, click the IMDB link to perform search</p>
    <% } %>

	</div>
  </div>

</div> <!-- moviePoolContainers div -->
<% }); %>
</div> <!-- main div row -->

<%	} else { %>
  <div class="page-header">
		<h3>Movie Pool</h3>
	</div>
	<div class="row col-md-8 col-md-offset-2 emptyPoolMessage">
	  <h1>There doesn't seem to be any movies yet...<br>go <a href="/">search</a> for some!</h1>
	</div>
<%	}; %>

</div> <!-- main div container -->

<%- include('partials/footer.ejs'); %>