<%- include('partials/header.ejs'); %>

<div class="container">
<% if(movies) { %>
<div class="row">
<% movies.forEach(function(movie) { %>
	<div class="container-fluid col-md-6">
		<div class="hidden-lg hidden-md hidden-sm visible-xs">
		<% var movieMin = movie.movieDetails[0].detailBody %>
	<h3><strong><%= movieMin.Title %></strong> (<%= movieMin.Year %>)</h3>
</div>
	<% if(!movieMin.Poster || movieMin.Poster == 'N/A'){ %>
		<% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
	<% 	} else {  %>
		<% var poster = movieMin.Poster %>
	<% }; %>
  <div class="thumbnail col-sm-6 col-xs-12 visible-lg visible-md visible-sm hidden-xs">
  	<img class="poster" src="<%= poster %>" alt="Movie Poster">
  </div>
   <div class="thumbnail col-sm-6 hidden-lg hidden-md hidden-sm visible-xs searchImgSmall">
    <img class="posterSmall" src="<%= poster %>" alt="Movie Poster">
  </div>

  <div class="col-sm-6 col-xs-12">

    <div class="searchMovieInfo">
	<div class="visible-lg visible-md visible-sm hidden-xs">
<h4><strong><%= movieMin.Title %></strong> (<%= movieMin.Year %>)</h4>

</div>
	<h6><%= movieMin.Genre %></h6>
	<h6>Runtime: <%= movieMin.Runtime %>  <span class="label label-default"><%= movieMin.Rated %></span>    </h6>
	</div>

	<div>
	<p><%= movieMin.Plot %> </p>
	<h6><strong>Directed By:</strong> <%= movieMin.Director %> </h6>
	<h6><strong>Written By:</strong> <%= movieMin.Writer %> </h6>
	<h6><strong>Stars:</strong> <%= movieMin.Actors %> </h6>
	</div>
	
	<h6>IMDB: <%= movieMin.imdbRating %> / <%= movieMin.imdbVotes %> votes</h6>
	
	<% if(movieMin.Ratings[0]) { %>
	<h6><%= movieMin.Ratings[0].Source %>: <%= movieMin.Ratings[0].Value %></h6>
	
	<h6><%= movieMin.Ratings[1].Source %>: <%= movieMin.Ratings[1].Value %></h6>
	<% }; %>

	<p><a href="http://www.imdb.com/title/<%= movieMin.imdbID %>/" class="btn btn-primary" role="button" target="_blank">IMDB</a>
	<p><a href="/remove/<%=movie.movieDetails[0].imdbID%>" class="btn btn-primary" role="button">REMOVE</a>
	<p><a href="#" class="btn btn-primary" role="button">WATCH LATER</a>
    <%console.log(movie.movieDetails[0].imdbID);%>
  </div>

</div>


<% }); %>
</div>
<%	}; %>
</div>
<%- include('partials/footer.ejs'); %>