<%- include('partials/header.ejs'); %>

<p><a href="/" class="btn btn-primary" role="button">Go Back</a></p>
<div class="container">
<% if(movies.length > 0) { %>
<div class="row">
<% movies.forEach(function(movie) { %>
<% var movieMin = movie.movieDetails[0].detailBody %>
<%	if(!movieMin.Metascore || movieMin.Metascore == 'N/A'){ %> 
<%		var ratingMeta = 0; %>
<%		} else { %>
<%		var ratingMeta = Number(movieMin.Metascore) *.3; %>
<%		}; %>

<%	if(!movieMin.imdbRating || movieMin.imdbRating == 'N/A'){ %>
<%		var ratingImdb = 0; %>
<%		} else { %>
<%		var ratingImdb = Number(movieMin.imdbRating) * 3; %>
<%		}; %>

<%	if(!movieMin.imdbVotes || movieMin.imdbVotes == 'N/A'){ %>
<%		var ratingVotes = 0; %>
<%		} else { %>
<%		var ratingVotes = movieMin.imdbVotes; %>
<%		ratingVotes = ratingVotes.replace( /,/g, "" ); %>
<%		var votesLength = ratingVotes.length; %>
<%		ratingVotes = Number(ratingVotes); %>
<%		ratingVotes = Math.floor(ratingVotes / 100000);  %>
<%		}; %>

<%	if(!movieMin.Ratings[0] && !movieMin.Ratings[1]){ %>
<%		var ratingRotten = 0; %>
<%		} else { %>
<%		var ratingRotten = movieMin.Ratings[1].Value; %>
<%		ratingRotten = ratingRotten.slice(0, -1); %>
<%		ratingRotten = Number(ratingRotten) *.3 ; %>
<%		}; %>

<% var calculatedRating = ((ratingMeta + ratingImdb + ratingVotes + ratingRotten) / 100).toFixed(2); %> 

	<div class="container-fluid col-md-6">

		<div class="hidden-lg hidden-md hidden-sm visible-xs">
		
	<h3><strong><%= movieMin.Title %></strong> (<%= movieMin.Year %>)</h3>
</div>
	<% if(!movieMin.Poster || movieMin.Poster == 'N/A'){ %>
		<% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
	<% 	} else {  %>
		<% var poster = movieMin.Poster %>
	<% }; %>
  <div class="thumbnail col-sm-6 col-xs-12 visible-lg visible-md visible-sm hidden-xs">
  	<img class="poster" src="<%= poster %>" alt="Movie Poster">
  </div>
   <div class="thumbnail col-sm-6 hidden-lg hidden-md hidden-sm visible-xs searchImgSmall">
    <img class="posterSmall" src="<%= poster %>" alt="Movie Poster">
  </div>

  <div class="col-sm-6 col-xs-12">

    <div class="searchMovieInfo">
	<div class="visible-lg visible-md visible-sm hidden-xs">
<h4><strong><%= movieMin.Title %></strong> (<%= movieMin.Year %>)</h4>

</div>
	<h6><%= movieMin.Genre %></h6>
	<h6>Runtime: <%= movieMin.Runtime %>  <span class="label label-default"><%= movieMin.Rated %></span>    </h6>
	</div>

	<div>
	<p><%= movieMin.Plot %> </p>
	<h6><strong>Directed By:</strong> <%= movieMin.Director %> </h6>
	<h6><strong>Written By:</strong> <%= movieMin.Writer %> </h6>
	<h6><strong>Stars:</strong> <%= movieMin.Actors %> </h6>
	</div>
	
	<% if(movieMin.Ratings[0]) { %>
	<h6>IMDB: <%= movieMin.Ratings[0].Value %></h6>
	<h6><%= movieMin.Ratings[1].Source %>: <%= movieMin.Ratings[1].Value %></h6>
	<% }; %>

	<div style="opacity:<%=calculatedRating%>;" class="tempGauge">
	<div ></div>
	</div>


	<p><a href="http://www.imdb.com/title/<%= movieMin.imdbID %>/" class="btn btn-primary" role="button" target="_blank">IMDB</a>
	<p><a href="/remove/<%=movie.movieDetails[0].imdbID%>" class="btn btn-primary" role="button">REMOVE</a>
	<p><a href="/compare-movies" class="btn btn-primary" role="button">ADD TO WATCH LIST</a>
	<!-- <p><a href="#" class="btn btn-primary" role="button">WATCH LATER</a> -->
  </div>

</div>


<% }); %>
</div>


<%	} else { %>
<div class="container">
	<div class="row col-md-8 col-md-offset-2">
	<h1>There don't seem to be any movies yet...go <a href="/">search</a> for some!</h1>
	</div>
</div>
<%	}; %>

</div>

<%- include('partials/footer.ejs'); %>