<%- include('../partials/header.ejs'); %>

<div class="container mainContainer">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="page-header">
      <h3>Profile</h3>
  </div>
	<h3 class="profileSubHeader"><small>My Saved Movies</small></h3>

<%  saved.forEach(function(movie) { %>
<%  var addedIndividualMovie = movie.pool.movieDetails[0].detailBody; %>

  <% if(addedIndividualMovie.poster_path == null){ %>
    <% var poster = "http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" %>
  <%  } else {  %>
    <% var poster = "https://image.tmdb.org/t/p/w300/" + addedIndividualMovie.poster_path %>
  <% }; %>

	<div class="media">
    <div class="media-left">
      <img class="media-object miniPoster" src="<%= poster %>" alt="Movie Poster">
    </div>

    <div class="media-body">
    <h5 class="media-heading"><strong><%= addedIndividualMovie.title %></strong> <span class="yearStyle">(<%= addedIndividualMovie.release_date.substr(0, 4) %>)</span></h5>

    <% if(addedIndividualMovie.runtime !== null && addedIndividualMovie.runtime > 0){%>
     <h6>Runtime: <%= addedIndividualMovie.runtime %> min </h6>
    <% } else { %>
     <h6>Runtime: Not Listed </h6>
    <% } %>  


    <% if(addedIndividualMovie.overview !== null && addedIndividualMovie.overview.length > 386) { %>
      <%  var plotText = addedIndividualMovie.overview.substr(0, 383) + '...'; %>
    <% } else { %>
      <%  var plotText = addedIndividualMovie.overview; %>
    <% }; %>

    <p><%= plotText %> </p>

    <% if(addedIndividualMovie.overview === null || addedIndividualMovie.imdb_id === null || addedIndividualMovie.imdb_id === undefined || addedIndividualMovie.imdb_id.length < 1) { %>
      <p>Details may not be available, click the IMDB link to perform search</p>
    <% } %>

    <div class="btn-group-horizontal profileButtons" role="group" aria-label="Buttons">
  
      <a href="/add-to-moviepool/<%=addedIndividualMovie.id%>" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add To Movie Pool</a>
      <a href="/user/delete-saved/<%=movie._id%>" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove</a>
  
      <% if(addedIndividualMovie.imdb_id) { %> 
        <a href="http://www.imdb.com/title/<%= addedIndividualMovie.imdb_id %>/" class="btn btn-default" role="button" target="_blank">View IMDB</a>
      <% } else { %>
        <a href="http://www.imdb.com/find?q=<%= addedIndividualMovie.title %>" class="btn btn-default" role="button" target="_blank">View IMDB</a>
      <% } %>

    </div>
    </div>
  </div> <!-- media -->
<% }); %>
  </div>
</div> <!-- div row -->
</div> <!-- div mainContainer -->

<%- include('../partials/footer.ejs'); %>