<%- include('../partials/header.ejs'); %>

<% function convertObjectToList(obj) { %>
  <%  var array = []; %>
  <%  for (var key in obj){ %>
  <%   array.push([key, obj[key]]); %>
  <%  } %>
  <% return array; %>
  <% } %>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
	<h1>User Profile</h1>
	<hr>
	<h2>My Saved Movies</h2>
	<% console.log(compared); %>
	<% compared.forEach(function(movie) { %>
	<% var addedMoviesObject = movie.pool.items %>
	<% var addedMoviesArray = convertObjectToList(addedMoviesObject); %>

	<% var addedIndividualMovie = addedMoviesArray[0][1].movieDetails[0].detailBody; %>
	<%	if(!addedIndividualMovie.Metascore || addedIndividualMovie.Metascore == 'N/A'){ %> 
<%		var ratingMeta = 0; %>
<%		} else { %>
<%		var ratingMeta = Number(addedIndividualMovie.Metascore) *.2; %>
<%		}; %>

<%	if(!addedIndividualMovie.imdbRating || addedIndividualMovie.imdbRating == 'N/A'){ %>
<%		var ratingImdb = 0; %>
<%		} else { %>
<%		var ratingImdb = Number(addedIndividualMovie.imdbRating) * 3; %>
<%		}; %>

<%	if(!addedIndividualMovie.imdbVotes || addedIndividualMovie.imdbVotes == 'N/A'){ %>
<%		var ratingVotes = 0; %>
<%		} else { %>
<%		var ratingVotes = addedIndividualMovie.imdbVotes; %>
<%		ratingVotes = ratingVotes.replace( /,/g, "" ); %>
<%		var votesLength = ratingVotes.length; %>
<%		ratingVotes = Number(ratingVotes); %>
<%		ratingVotes = Math.floor(ratingVotes / 100000);  %>
<%		}; %>

<%	if(addedIndividualMovie.Ratings[1] == undefined || (!addedIndividualMovie.Ratings[0] && !addedIndividualMovie.Ratings[1])){ %>
<%		var ratingRotten = 0; %>
<%		} else { %>
<%		var ratingRotten = addedIndividualMovie.Ratings[1].Value; %>
<%		ratingRotten = ratingRotten.slice(0, -1); %>
<%		ratingRotten = Number(ratingRotten) *.5 ; %>
<%		}; %>

<% var calculatedRating = ((ratingMeta + ratingImdb + ratingVotes + ratingRotten)).toFixed(0); %> 

<% if(calculatedRating > 100) { %>
   <% calculatedRating = 100 }; %>

<% if(calculatedRating >= 0 && calculatedRating <= 33) { %>
	<% var progressBarClass = "progress-bar progress-bar-danger"; %>
<% } else if(calculatedRating > 33 && calculatedRating <= 60) { %>
	<% var progressBarClass = "progress-bar progress-bar-warning"; %>
<% } else if(calculatedRating > 60) { %>
	<% var progressBarClass = "progress-bar progress-bar-success"; %>
<% }; %>

	<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object miniPoster" src="<%= addedIndividualMovie.Poster %>" alt="Movie Poster">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><strong><%= addedIndividualMovie.Title %></strong> (<%= addedIndividualMovie.Year %>)</h4>
    <%= addedIndividualMovie.Plot %>
    	<h6><strong>Flick Pick Meter</strong></h6>
		<div class="progress profileProgress">
  		<div class="<%= progressBarClass %>" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= calculatedRating  %>%;">
    	<%= calculatedRating  %>%
  		</div>
		</div>
  </div>
</div>


	
	<% }); %>
</div>
</div>

<%- include('../partials/footer.ejs'); %>