<%- include('../partials/header.ejs'); %>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="page-header">
      <h3>Profile</h3>
  </div>
	<h3>My Saved Movies</h3>
 <!-- console.log(compared); -->
	<% compared.forEach(function(movie) { %>
	<% var addedIndividualMovie = movie.pool.movieDetails[0].detailBody; %>
	<%	if(!addedIndividualMovie.Metascore || addedIndividualMovie.Metascore == 'N/A'){ %> 
<%		var ratingMeta = 0; %>
<%		} else { %>
<%		var ratingMeta = Number(addedIndividualMovie.Metascore) *.2; %>
<%		}; %>

<%	if(!addedIndividualMovie.imdbRating || addedIndividualMovie.imdbRating == 'N/A'){ %>
<%		var ratingImdb = 0; %>
<%		} else { %>
<%		var ratingImdb = Number(addedIndividualMovie.imdbRating) * 3; %>
<%		}; %>

<%	if(!addedIndividualMovie.imdbVotes || addedIndividualMovie.imdbVotes == 'N/A'){ %>
<%		var ratingVotes = 0; %>
<%		} else { %>
<%		var ratingVotes = addedIndividualMovie.imdbVotes; %>
<%		ratingVotes = ratingVotes.replace( /,/g, "" ); %>
<%		var votesLength = ratingVotes.length; %>
<%		ratingVotes = Number(ratingVotes); %>
<%		ratingVotes = Math.floor(ratingVotes / 100000);  %>
<%		}; %>

<%	if(addedIndividualMovie.Ratings[1] == undefined || (!addedIndividualMovie.Ratings[0] && !addedIndividualMovie.Ratings[1])){ %>
<%		var ratingRotten = 0; %>
<%		} else { %>
<%		var ratingRotten = addedIndividualMovie.Ratings[1].Value; %>
<%		ratingRotten = ratingRotten.slice(0, -1); %>
<%		ratingRotten = Number(ratingRotten) *.5 ; %>
<%		}; %>

<% var calculatedRating = ((ratingMeta + ratingImdb + ratingVotes + ratingRotten)).toFixed(0); %> 

<% if(calculatedRating > 100) { %>
   <% calculatedRating = 100 }; %>

<% if(calculatedRating >= 0 && calculatedRating <= 33) { %>
	<% var progressBarClass = "progress-bar progress-bar-danger"; %>
<% } else if(calculatedRating > 33 && calculatedRating <= 60) { %>
	<% var progressBarClass = "progress-bar progress-bar-warning"; %>
<% } else if(calculatedRating > 60) { %>
	<% var progressBarClass = "progress-bar progress-bar-success"; %>
<% }; %>

	<div class="media">
  <div class="media-left">
    
      <img class="media-object miniPoster" src="<%= addedIndividualMovie.Poster %>" alt="Movie Poster">
    
  </div>
  <div class="media-body">
    <h5 class="media-heading"><strong><%= addedIndividualMovie.Title %></strong> <span class="yearStyle">(<%= addedIndividualMovie.Year %>)</span></h5>
    <%= addedIndividualMovie.Plot %>

    	<h6><strong>Flick Pick Meter:</strong>
		  <span><div class="progress profileProgress">
  		<div class="<%= progressBarClass %>" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= calculatedRating %>%;">
    	<%= calculatedRating  %>%
  		</div>
      </div></span></h6>

      <div class="btn-group-horizontal" role="group" aria-label="Buttons">
  
          <a href="/add-to-moviepool/<%=addedIndividualMovie.imdbID%>" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add To Movie Pool</a>

          <a href="/user/delete-saved/<%=movie._id%>" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Remove</a>
      
          <a href="http://www.imdb.com/title/<%=addedIndividualMovie.imdbID%>" class="btn btn-default" role="button" target="_blank">View IMDB</a>
        </div>

  </div>
</div>


	
	<% }); %>
</div>
</div>

<%- include('../partials/footer.ejs'); %>